---
layout: 'base.njk'
bodyClass: content-page gallery-page
---

<article class="gallery-post">
  <header class="post-header">
    <h1>{{ title }}</h1>
  </header>

  {% if cover %}
    <figure class="gallery-cover">
      <img src="{{ cover }}" alt="{{ title }} cover image.">
      {% if caption %}
        <figcaption>{{ caption }}</figcaption>
      {% endif %}
    </figure>
  {% endif %}

  <div class="post-content">
    {{ content | safe }}
  </div>

  <p class="publication-back-link"><a href="/gallery/">Back to gallery</a></p>
</article>
