---
title: About
layout: 'base.njk'
bodyClass: content-page publications-page
permalink: /about/
---

<h1>About Me</h1>

<section class="profile-section">
  <h2>Education</h2>
  <div class="degree-list">
    <article class="degree-card">
      <h3>Ph.D. in Physics</h3>
      <dl>
        <div>
          <dt>Affiliation</dt>
          <dd>University of Warsaw, Warsaw, Poland</dd>
        </div>
        <div>
          <dt>Thesis</dt>
          <dd>Self organization of flow in dissolving rocks [PDF]</dd>
        </div>
        <div>
          <dt>Year</dt>
          <dd>2020 - 2025</dd>
        </div>
        <div>
          <dt>Supervisors</dt>
          <dd>Prof. Piotr Szymczak <br> Prof. Mariusz Białecki</dd>
        </div>
      </dl>
    </article>

        <article class="degree-card">
      <h3>M.E in Thermal Engg.</h3>
      <dl>
        <div>
          <dt>Affiliation</dt>
            <dd>Thapar University, Patiala, India</dd>
        </div>
        <div>
          <dt>Thesis</dt>
          <dd>Nodal Integral Method [PDF]</dd>
        </div>
        <div>
          <dt>CGPA</dt>
          <dd>8/10</dd>
        </div>
        <div>
          <dt>Year</dt>
          <dd>2015 - 2017</dd>
        </div>
        <div>
          <dt>Supervisors</dt>
          <dd>Prof. Neeraj Kumar</dd>
        </div>
      </dl>
    </article>

    <article class="degree-card">
      <h3>B.Tech. in Mechanial Engg.</h3>
      <dl>
        <div>
          <dt>Affiliation</dt>
          <dd>Uttar Pradesh Tech. Uni., India</dd>
        </div>
        <div>
          <dt>Marks</dt>
          <dd>72%</dd>
        </div>
        <div>
          <dt>Year</dt>
          <dd>2010 - 2014</dd>
        </div>
        <div>
          <dt>Supervisors</dt>
          <dd>Prof. Neeraj Kumar</dd>
        </div>
      </dl>
    </article>
  </div>

</section>




<section class="profile-section">
  <h2>Grants & Awards</h2>
  <ul class="award-list">
    <li>
      <span>Received <span class="update-highlight">Marie Curie Seal of Excellence</span>.</span>
      <time datetime="2026-05">May 2026</time>
    </li>
    <li>
      <span>Received <span class="update-highlight">Marie Curie Seal of Excellence</span>.</span>
      <time datetime="2026-04">April 2026</time>
    </li>
    <li>
      <span>Received <span class="update-highlight">Marie Curie Seal of Excellence</span>.</span>
      <time datetime="2026-03">March 2026</time>
    </li>
    <li>
      <span>Received <span class="update-highlight">Marie Curie Seal of Excellence</span>.</span>
      <time datetime="2026-02">February 2026</time>
    </li>
    <li>
      <span>Received <span class="update-highlight">Marie Curie Seal of Excellence</span>.</span>
      <time datetime="2026-01">January 2026</time>
    </li>
    <li>
      <span>Received <span class="update-highlight">Marie Curie Seal of Excellence</span>.</span>
      <time datetime="2025-12">December 2025</time>
    </li>
  </ul>
</section>
