---
title: Activities
layout: 'base.njk'
bodyClass: content-page publications-page
permalink: /activities/
---

<h1>Academic Activities</h1>

<ul class="updates-list">
  <li>Attended a conference in <span style="color: rgb(190, 40, 40); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(190, 80, 35); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(170, 115, 25); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(145, 140, 30); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(110, 150, 35); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(80, 150, 55); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(55, 145, 75); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(40, 135, 90); font-weight: bold;">XTAHY</span>.</li>
  <li>Attended a conference in <span style="color: rgb(35, 125, 80); font-weight: bold;">XTAHY</span>.</li>
</ul>
