---
title: Activities
layout: 'base.njk'
bodyClass: content-page publications-page
permalink: /activities/
---

<h1>Academic Activities</h1>

<ul class="updates-list">
<li>Presented a poster at InterPore 2025 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Albuquerque, Mexico</span>.</li>

<li>Presented a poster at FLOWTIME 2024 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Cargese, France</span>.</li>

<li>Presented a poster at the AGU Fall Meeting 2023 in <span style="color: rgb(190, 40, 40); font-weight: bold;">San Francisco, USA</span>.</li>

<li>Presented a poster at InterPore 2023 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Edinburgh, Scotland</span>.</li>

<li>Delivered a talk at EGU General Assembly 2023 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Vienna, Austria</span>.</li>

<li>Presented a poster at the Geilo Physics School 2022 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Geilo, Norway</span>.</li>

<li>Presented a poster at the Geilo Physics School 2023 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Geilo, Norway</span>.</li>

<li>Delivered a talk at EGU General Assembly 2022 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Vienna, Austria</span>.</li>

<li>Presented a poster at the Warsaw School of Statistical Physics in <span style="color: rgb(190, 40, 40); font-weight: bold;">Sandomierz, Poland</span>.</li>

<li>Presented a poster at EGU General Assembly 2021 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Vienna, Austria</span>.</li>

<li>Delivered a talk at the DREAMS21 Workshop in <span style="color: rgb(190, 40, 40); font-weight: bold;">Paris, France</span>.</li>

<li>Delivered a talk at CFD Wrocław-7 Workshop in <span style="color: rgb(190, 40, 40); font-weight: bold;">Wrocław, Poland</span>.</li>

<li>Presented a poster at EGU General Assembly 2020 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Vienna, Austria</span>.</li>

<li>Presented a poster at the AGU Fall Meeting 2019.</li>

<li>Delivered an invited talk at the Colloquium on Branching Networks in <span style="color: rgb(190, 40, 40); font-weight: bold;">Paris, France</span>.</li>

<li>Delivered an invited seminar at MSD 2023 in <span style="color: rgb(190, 40, 40); font-weight: bold;">Chęciny, Poland</span>.</li>

<li>Delivered an invited seminar at the University of Minnesota in <span style="color: rgb(190, 40, 40); font-weight: bold;">Minnesota, USA</span>.</li>

<li>Delivered an invited seminar at the Looping Network Meeting in <span style="color: rgb(190, 40, 40); font-weight: bold;">Paris, France</span>.</li>

<li>Delivered an invited seminar at the Complex Systems Seminar in <span style="color: rgb(190, 40, 40); font-weight: bold;">Warsaw, Poland</span>.</li>

<li>Delivered an invited seminar at the Soft Matter and Statistical Physics Seminar in <span style="color: rgb(190, 40, 40); font-weight: bold;">Warsaw, Poland</span>.</li>
</ul>
