<ul class="updates-list">
  
  <li><span class="update-highlight">FNRS-FRS mobilty and congress grant </span> is awarded to attend <i>Belgrade School Of Complex System (Becomplex) 2026</i>, 21-27 June 2026, Belgrade, Serbia. 
  
  <li>I am pleased to announce that I have been awared <span class="update-highlight">FNRS post doctoral fellowship</span> to work on chemical prcepitiation phyllotactic patterns in University libre de Bruxelles, Belgium.</li>

  <li>Our latest work <i>"Anomalous transport in dissolving porous media: Transitions between Fickian and non‐Fickian regimes"</i> is published in <b>Geophysical Research Letters.</b> <a href="https://doi.org/10.1029/2025GL115940">https://doi.org/10.1029/2025GL115940</a></li>

  <li><span class="update-highlight"> Early Career Scientist's Travel Support </span> is awarded to present my work (presentation) in European Geophysical Union (EGU) General Assembly 2023, 23-28 April 2023, Austria, Vienna.

  <li>Checkout our recent article <i>"Effects of mixing at pore intersections on large-scale dissolution patterns and solute transport"</i> in <b>Geophysical Research Letters.</b> <a href="https://doi.org/10.1029/2023GL105183">https://doi.org/10.1029/2023GL105183</a></li>

  <li>The article <i>"Comparative study of undissolved and karstified limestone based on microtomography"</i> is published in <b>Chemical Geology.</b> <a href="https://doi.org/10.1016/j.chemgeo.2023.121397">https://doi.org/10.1016/j.chemgeo.2023.121397</a></li>

  <li>Our latest article <i>"4D tomography reveals a complex relationship between wormhole advancement and permeability variation in dissolving rock"</i> is published in <b>Advances in Water Resources.</b> <a href="https://doi.org/10.1016/j.advwatres.2023.104407">https://doi.org/10.1016/j.advwatres.2023.104407</a></li>

  <li><span class="update-highlight"> Early Career Scientist's Travel Support </span> is awarded to present my work (poster) in European Geophysical Union (EGU) General Assembly 2020, 4-8 May 2020, Austria, Vienna.

  <li>Our paper <i>"Nodal integral method for convection-diffusion transport using linear and higher order quadrilateral elements"</i> is published in <b>Numerical Heat Transfer, Part B: Fundamentals.</b> <a href="https://doi.org/10.1080/10407790.2018.1523596">https://doi.org/10.1080/10407790.2018.1523596</a></li>

  <li>Our article <i>"Nodal Integral Method for Complex Geometries Using Higher Order Elements"</i> presented in <b>24th National and 2nd International ISHMT-ASTFE Heat and Mass Transfer Conference (IHMTC-2017), 27-30 Dec 2017</b> is selected for publication in conference proceedings. <a href="http://dx.doi.org/10.1615/IHMTC-2017.3130">http://dx.doi.org/10.1615/IHMTC-2017.3130</a></li>
</ul>
