<ul class="updates-list">
  <li>Presented a paper in <span class="update-highlight">XYZ4 conference</span>.</li>
  <li>Our paper <a href="https://doi.org/10.1103/s8rs-2bq9">Radially-Locked Sun-Ray Patterns in Autocatalytic Reaction-Diffusion-Advection Systems</a> is now published in Phys. Rev. Lett.</li>
  <li>I am very pleased to share that I have received <span class="update-highlight">Marie Curie Seal of Excellence</span> with a staggering score of 93.4/100.</li>
  <li>Our recent work is in the headlines of <span class="update-highlight">Physics Magazine</span>, spotlighting exceptional research.</li>
  <li>Presented a paper in <span class="update-highlight">XYZ4 conference</span>.</li>
  <li>Our paper <a href="https://doi.org/10.1103/s8rs-2bq9">Radially-Locked Sun-Ray Patterns in Autocatalytic Reaction-Diffusion-Advection Systems</a> is now published in Phys. Rev. Lett.</li>
  <li>I am very pleased to share that I have received <span class="update-highlight">Marie Curie Seal of Excellence</span> with a staggering score of 93.4/100.</li>
  <li>Our recent wor</li>
</ul>
